#Events h3{
    text-align: center;
}

#Events h4, p{
    text-align: center justify;
}

#Events .contenedor{ /*Este es mi blog*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Events article{
    margin: 15px;
}

#Events img {
    width: 100%;
    max-width: 280px;
}

@media (min-width: 480px) {
    .contenedor{
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .contenedor{
        width: auto;
    }
}